body {
	background-color: #716CA1;
	margin: auto;
}

.imagebutton {
	cursor: pointer;
	background-color: #716CA1;
	text-align: center;
	width: 200px;
	height: 200px;
	padding: 20px;
}

table {
	width: 400;
	height: 400;
	margin: auto;
	text-align: center;
	color: white;
	font-style: bold;
	font-size: 40px;
	
}

.header {
	background-color: black;
	height: 175px;
	border-bottom: 2px solid white;
}