body {
	background-color: #716CA1;
	margin: auto;
}

.imagebutton {
	cursor: pointer;
	background-color: #716CA1;
	text-align: center;
	width: 400px;
	height: 400px;
	padding: 20px;
}

table {
	width: 200;
	height: 200;
	margin: auto;
	text-align: center;
	color: white;
	font-style: bold;
	font-size: 40px;
	padding: 10px;
}