body {
	background-color: #efefef;
	margin: auto;
	text-align: center;
	color: white;
}

.imagebutton {
	cursor: pointer;
	text-align: center;
	width: 200px;
	height: 200px;
	padding: 20px;
}

table {
	width: 400;
	height: 400;
	margin: auto;
	text-align: center;
	color: black;
	font-style: bold;
	font-size: 40px;
	
}

.header {
	background-color: black;
	height: 175px;
	border-bottom: 2px solid white;
}

.listbutton {
	background-color: blue;
	height: 50px;
	border-top: 2px solid white;
	border-bottom: 1px solid black;
	text-align: left;
	margin: auto;
	font-style: bold;
	font-size: 15px;
	color: white;
	width: 700px;
	cursor: pointer;
}

ul {
	list-style-type: none;
}